@import "./roboto.css";
@import "normalize.css";


body{
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  
}
/* .container{
  padding-top: 2rem;
  /* max-width:1000px ; */
  /* margin: 0 auto; */
/* }

.logo{
  background-image: url('../assets/webpackLogo.png');
  background-size: cover;
  height: 200px;
  width: 200px;
  margin: 0 auto;
}
.code{
  color: blue;
} */ 
h1{
  text-align: center;
}