body{
  background-color: rgb(181, 250, 246);
}
.Home{
// p{
//   text-align: center;
// }
// button{
//   // display: flex;
//   // justify-content: center;
//   align-items: center;
// }

width: 800px;
// height: 500px;
background-color: rgb(150, 240, 234);


}
.container{
  // width: 1200px;
  margin: 0 auto;
 
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  
display: flex;
justify-content: center;
text-align: center;
flex-direction: column;


}
.container :hover{
  box-shadow: 0 10px 10px rgb(0 0 0 / 90%);
  transition: 0.5s ease-in-out;
 
 
}