body {
  background-color: rgb(181, 250, 246);
}

.Home {
  margin: 0 auto;
  width: 800px;
  background-color: rgb(150, 240, 234);
  box-shadow: 0 10px 20px rgb(0 0 0 / 70%);
  transition: 0.5s ease-in-out;
  margin-top: 100px;
}

.container {
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
