.result_main {
  margin: 0 auto;
  background-color: rgb(70, 190, 170);
  width: 700px;
  height: 400px;
  box-shadow: 0 10px 20px rgb(0 0 0 / 90%);
  transition: 0.5s ease-in-out;
  margin-top: 70px;

  .result_container {
    text-align: center;

    h1 {
      padding-top: 30px;
    }
    .result_button {
      margin-bottom: 20px;
    }
  }

  Button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 70%;
    margin-bottom: 10px;
    border-radius: 20px;
  }
}

@media (max-width: 420px) {
  .result_main {
    width: 90%;
  }
  Button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 70%;
    margin-bottom: 10px;
    border-radius: 20px;
  }
}
