// Container{
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
  
    .content {
      padding: 60px;
      box-shadow: 0 10px 15px rgb(0, 0, 0);
      width: 650px;
      height: 300px;
    }
  
    .btn_controllers {
      margin-top: 40px;
    }
  
    .second_main {
      text-align: left;
    }
  
    li {
      list-style: none;
      text-align: left;
      margin-top: 15px;
    }
  
    .submit {
      margin-left: 50px;
    }
  }
  
// }