.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    width: 650px;
    margin-top: 100px;
  .content{
    padding: 60px;
    box-shadow: 0 10px 15px rgb(0, 0, 0);
  }
  .btn_controllers {
    margin-top: 40px;
  }
  h2{
    text-align: left;
  }
  li {
    list-style: none;
    text-align: left;
  }
}